<h1>Show Listing</h1>

<%= @listing.name %>

<% if current_user == @listing.user %>
	<%= link_to "Edit", edit_listing_path %>
	<%= button_to "Delete", listing_path, method: :delete, data: {confirm: "u sure?"} %>
<% end %>